.card {
  background-color: #32cabe;
  border: 2px solid white;
  border-radius: 0.2rem;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 120px;

  color: white;
  font-size: x-small;
}
